---
import "@fontsource/space-grotesk";
import Layout from "@layouts/Layout.astro";
---

<Layout title="why dolar api?">
  <section class="min-h-screen">
    <div class="bg-zinc-800 mb-8 flex items-center justify-between">
      <h1 class="text-8xl font-bold text-zinc-50">¿qué es dolarVe?</h1>
      <img class="w-64 object-cover aspect-video" src="./dolar.png" alt="" />
    </div>

    <div class="text-pretty text-xl container mx-auto">
      <p>
        Esta es una API para que los desarrolladores vean la fluctuación en el
        precio del dólar comparado con la moneda soberana bolívar venezolano.
      </p>
      <p>
        Utiliza un rastreador para extraer las tasas de cambio de diferentes
        fuentes y calcular el promedio para cada día.
      </p>
    </div>
  </section>
</Layout>
