<h1>hola</h1>

<p>
    This is an API for developers to see fluctuation in dollar pricing compare
    to Venezuelan bolivar sovereign currency.
</p>
<p>
    It uses a scrapper to extract currency exchange rates from different sources
    and calculates the average for each day.
</p>
