---
import ThemeToggle from "../components/ThemeChanger";
import DolarVe from "../components/icons/DolarVe.astro";
---

<script>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<header>
  <nav class="navbar">
    <div
      style="display: flex; justify-content: center; align-items:center; gap: 0.5rem"
    >
      <div style="height: 32px; width: 32px">
        <DolarVe />
      </div>
      <h2>DolarVe</h2>
    </div>

    <ul class="navbar-links">
      <a href="/">Home</a>
      <a href="about">About</a>

      <ThemeToggle client:only="react" />
    </ul>
  </nav>
</header>
