---
import ThemeToggle from "../components/ThemeChanger";
import DolarVe from "../components/icons/DolarVe.astro";
---

<script>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<header>
  <nav class="px-20 gap-2 py-5 flex items-center justify-between">
    <div class="flex items-center">
      <div class="w-6 h-6">
        <DolarVe />
      </div>
      <h2 class="hidden md:block">DolarVe</h2>
    </div>

    <ul class="flex gap-3">
      <a href="/">Inicio</a>
      <a href="about">saber más</a>

      <ThemeToggle client:only="react" />
    </ul>
    <div></div>
  </nav>
</header>
